
<html>
    <head>
        <title>EditProduct</title>

        <link rel="stylesheet" href="style.css"/>
</head>

    <body class="page">
        <div class="container">
            <h1 class="page-title">EditProduct</h1>

            <form method="POST" class="edit-form">
                <img src="https://img.magnific.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_hybrid&w=740&q=80" class="product-image"/>

                <input name="name" value="LAPTOP HP" class="input-field" placeholder="Product Name"/>

                <input name="price" value="33333333.3" class="input-field" placeholder="Price"/>

                <input name="image" value="https://img.magnific.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_hybrid&w=740&q=80" class="input-field" placeholder="Image URL"/>

                <button type="submit" class="save-btn">SaveChanges</button>
</form>

            <a href="/" class="back-link">Back</a>
</div>
</body>
</html>
