
<html>
    <head>
        <title>Products</title>

        <link rel="stylesheet" href="style.css"/>
</head>

    <body class="page">
        <div class="products-container">
            <h1 class="page-title">ProductsList</h1>

            <a href="/add" class="add-btn">AddNewProduct</a>

            <div class="products-grid">
                    <div class="product-card">
                        <img src="https://img.magnific.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_hybrid&w=740&q=80" class="product-card-image"/>

                        <h3 class="product-name">LAPTOP HP</h3>

                        <p class="product-price">$33333333.3</p>

                        <div class="actions">
                            <a href="/edit/1" class="edit-btn">Edit</a>

                            <a href="/delete/1" class="delete-btn">Delete</a>
</div>
</div>

                    <div class="product-card">
                        <img src="https://img.magnific.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_hybrid&w=740&q=80" class="product-card-image"/>

                        <h3 class="product-name">mobile</h3>

                        <p class="product-price">$21</p>

                        <div class="actions">
                            <a href="/edit/2" class="edit-btn">Edit</a>

                            <a href="/delete/2" class="delete-btn">Delete</a>
</div>
</div>

                    <div class="product-card">
                        <img src="https://img.magnific.com/free-photo/closeup-shot-beautiful-butterfly-with-interesting-textures-orange-petaled-flower_181624-7640.jpg?semt=ais_hybrid&w=740&q=80" class="product-card-image"/>

                        <h3 class="product-name">Hazem Abuzaid</h3>

                        <p class="product-price">$33.3</p>

                        <div class="actions">
                            <a href="/edit/3" class="edit-btn">Edit</a>

                            <a href="/delete/3" class="delete-btn">Delete</a>
</div>
</div>
</div>
</div>
</body>
</html>
